.cards-container {
  display: flex;
  flex-wrap: wrap;       
  gap: 5px;             
  justify-content: center; 
  padding: 25px;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-nav {
  width: 90px;
  cursor: pointer;

}

.input-favorites {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
